.contTab{
	border-bottom: #292a33 solid 2px;
}
.contTab span{
	font-size: 14px;
	padding: 0 15px;
	line-height: 35px;
	display: inline-block;
	position: relative;
	top:2px;
	cursor: pointer;
}
.hover{
	border-bottom: #f39700 solid 2px;
	color: #f39700;
}
.contTab .help{
	float: right;
	font-size: 12px;
	color: #f39700;
	background: url(../img/gtSearchBg.png) no-repeat -165px -64px;
	height: 24px;
	line-height: 24px;
	padding-left: 20px;
}
.addSourceTitle{
	margin: 15px 0;
	background: #fff;
	border-left: 2px solid #f39700;
	font-size: 16px;
	color: #f39700;
	padding-left: 10px;
}
.contentLeft{
	width: 587px;
	float: left;
	margin-left: 130px;
	margin-top:40px;
}
.contentRight{
	width: 320px;
	float: left;
}
.addContent{
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.inputText{
	width: 413px;
	height: 35px;
	border:1px solid #cfd8e6;
	margin-bottom: 15px;
}

.inputArea{
	width: 413px;
	height: 90px;
	line-height: 14px;
	border:1px solid #cfd8e6;
}
.source input,.inputArea{
	color:#bebebf;
	padding-left: 5px;
}
.ifPageUp{
	font-size: 12px;
	color:#292a33;
	margin-bottom: 15px;
	display: block;
} 
.ifPageUp input{
	margin-left: 10px;
	position: relative;
	top:2px;
}

.addCustomKey, .delCustomKey {
	background: url(../img/gtSearchBg.png) no-repeat;
	width: 16px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	margin: 3px 0 0 10px;
	cursor: pointer;
}
.delCustomKey {
background-position: -22px -93px;
}
.addCustomKey {
background-position: 0px -93px;
}
.save,.cancel{
	width: 70px;
	height: 36px;
	border: none;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.cancel{
	display: inline-block;
	background: #ecf0f5;
	color:#9198ab;
	border:1px solid #cfd8e6;
	float: left;
}
.source .save{
	background:#f39700;
	color:#fff;
	float: left;
	border:1px solid #df8c03;
	margin:0px 20px 0 140px;
}
.source select{
	width: 419px;
	height: 35px;
	margin-bottom: 15px;
	border:1px solid #cfd8e6;
}