.add_new{height:auto;margin-top:18px;background:#ecf0f5;}
#title{height:18px;border-left:2px solid #f39700;font-size:18px;padding-left:10px;color:#f39700;margin-top:15px;}
.add_left{height:auto;float:left;width:580px;}
.add_left p{margin-top:15px;padding-left:140px;}
.gzform{padding-top:25px;font-size:14px;}
.gzform span{display:block;float:left;font-size:12px;}
.gzform input{display:block;float:left;margin-left:20px;}
#newname{height:45px;width:415px;border:1px solid #cfd8e6;}
.sj{padding-left:140px;}
.field_gz{padding-left:80px;margin-top:15px;}
.field_gz h2{font-size:12px;font-weight:normal;float:left;}
.field_gz i{font-style:normal;font-size:12px;float:left;}
.field_gz  input{display:block;float:left;}
.chbox{margin-left:60px;}
.chbox i{margin-right:10px;margin-top:10px;}
.news_title{padding-left:80px;margin-top:15px;}
.news_title h2{font-size:12px;font-weight:normal;float:left;margin-top:16px;}
.news_cont{padding-left:80px;margin-top:15px;}
.news_cont h2{font-size:12px;font-weight:normal;float:left;margin-top:16px;}
.news_address{padding-left:80px;margin-top:15px;}
.news_address h2{font-size:12px;font-weight:normal;float:left;margin-top:16px;}
.news_time{padding-left:80px;margin-top:15px;}
.news_time h2{font-size:12px;font-weight:normal;float:left;margin-top:16px;}
.news_people{padding-left:80px;margin-top:15px;}
.news_people h2{font-size:12px;font-weight:normal;float:left;margin-top:16px;}
.collect_title{padding-left:80px;margin-top:15px;}
.collect_title h2{font-size:12px;font-weight:normal;float:left;margin-top:16px;}
.news{height:45px;width:415px;border:1px solid #cfd8e6;}
.btn_operate{margin-lefT:130px;margin-top:15px;padding-bottom:80px;}
.btn_operate li{float:left;padding:6px 10px;background:#f39700;margin-left:12px;list-style:none;color:#fff;}
#cancel{background:#ecf0f5;border:1px solid #cfd8e6;color:#9198ab;}
.add_right{float:left;;height:590px;border-left:1px solid #dbdbdb;overflow:hidden;margin-top:50px;margin-left:80px;width:270px;}
.add_right p{margin-top:210px;font-size:12px;padding-left:20px;line-height:21px;color:#a3a3a6;}
.add_right a{padding-left:20px;padding-top:12px;font-size:12px;}